.nav {
    display: flex;
    align-items: center;
    background-color: rgb(133, 128, 128);
}
.nav-title{
    flex :2;
    padding-left: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-links {
    display: flex;
    justify-content:space-evenly;
    margin: 10px; 
}




.nav-links a{
    color: rgb(209, 209, 209);
    
}
.nav-links a.active  {
    color: white;
}

.nav-links .btn {
    color: rgb(255, 255, 255);
    background-color: rgb(120, 128, 248);
    box-shadow: black 3px 3px 3px;
}
