* {
    margin: 0;
    padding: 0;
}
.Container{
    background-color: beige;
    border: 5px solid silver;
    width: 40%;
    margin: 20%;
    display: flex;
    flex-wrap: wrap;
    overflow:hidden;
}
.Top{
    width: 100%;
    background-color: #17A2B8;
    height: 70px;
    border: 5px solid #17A2B8;
    

    
}
.Texte{
    font-family:"Poppins",sans-serif;
    padding: 30px;
    position: relative;
    top:10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap:6px;
    
}

.Texte img {
    width: 10px;
    height: 10px;
}
.Top img{
    width: 70px;
    height: 70px;
    border: 2px solid silver;
    border-radius: 50px;
    padding: 2px;
    background-color: white;
    position:relative ;
    top:30px;
    left: 20px;
}
.Texte > h3 img {
    width: 15px;
    height: 18px;
}
